// SPDX-License-Identifier: (GPL-2.0-only OR BSD-2-Clause)

#include <dt-bindings/clock/novatek,na51089-clock.h>
#include <dt-bindings/gpio/novatek,na51089-gpio.h>
#include <dt-bindings/interrupt-controller/arm-gic.h>
#include <dt-bindings/interrupt-controller/irq.h>
#include <dt-bindings/reset/novatek,na51089-reset.h>

/ {
	compatible = "novatek,na51089";
	#address-cells = <1>;
	#size-cells = <1>;
	interrupt-parent = <&gic>;

	aliases {
		spi0 = &spi0;
		spi1 = &spi1;
		spi2 = &spi2;
	};

	osc: clock-osc {
		compatible = "fixed-clock";
		#clock-cells = <0>;
		clock-frequency = <12000000>;
	};

	cpus {
		#address-cells = <1>;
		#size-cells = <0>;

		cpu0: cpu@0 {
			compatible = "arm,cortex-a9";
			reg = <0>;
			device_type = "cpu";
			next-level-cache = <&l2>;
		};
	};

	soc {
		compatible = "simple-bus";
		ranges;
		#address-cells = <1>;
		#size-cells = <1>;

		pinctrl: pinctrl@f0010000 {
			compatible = "novatek,na51089-pinctrl";
			reg = <0xf0010000 0x1000>,
			      <0xf0030000 0x2000>;
			reg-names = "top", "pad";
		};

		cgu: clock-controller@f0020000 {
			compatible = "novatek,na51089-cgu";
			reg = <0xf0020000 0x5000>;
			clocks = <&osc>;
			clock-names = "osc";
			#clock-cells = <1>;
			#reset-cells = <1>;
		};

		gpio: gpio@f0070000 {
			compatible = "novatek,na51089-gpio";
			reg = <0xf0070000 0x100>;
			interrupts = <GIC_SPI 24 IRQ_TYPE_LEVEL_HIGH>;
			gpio-controller;
			#gpio-cells = <2>;
			gpio-ranges = <&pinctrl NA51089_CGPIO(0) NA51089_CGPIO(0) 23>,
				      <&pinctrl NA51089_PGPIO(0) NA51089_PGPIO(0) 26>,
				      <&pinctrl NA51089_SGPIO(0) NA51089_SGPIO(0) 9>,
				      <&pinctrl NA51089_LGPIO(0) NA51089_LGPIO(0) 10>,
				      <&pinctrl NA51089_DGPIO(0) NA51089_DGPIO(0) 8>,
				      <&pinctrl NA51089_HGPIO(0) NA51089_HGPIO(0) 12>,
				      <&pinctrl NA51089_AGPIO(0) NA51089_AGPIO(0) 3>,
				      <&pinctrl NA51089_DSIGPIO(0) NA51089_DSIGPIO(0) 11>;
			interrupt-controller;
			#address-cells = <0>;
			#interrupt-cells = <2>;
		};

		spi0: spi@f0230000 {
			compatible = "novatek,na51089-spi";
			reg = <0xf0230000 0x10000>;
			clocks = <&cgu NA51089_CLK_SPI0>;
			interrupts = <GIC_SPI 35 IRQ_TYPE_LEVEL_HIGH>;
			resets = <&cgu NA51089_RESET_SPI0>;
			#address-cells = <1>;
			#size-cells = <0>;

			status = "disabled";
		};

		uart0: serial@f0290000 {
			compatible = "ns16550a";
			reg = <0xf0290000 0x1000>;
			clocks = <&cgu NA51089_CLK_UART0>;
			interrupts = <GIC_SPI 43 IRQ_TYPE_LEVEL_HIGH>;
			reg-io-width = <4>;
			reg-shift = <2>;
			resets = <&cgu NA51089_RESET_UART0>;

			status = "disabled";
		};

		uart1: serial@f0300000 {
			compatible = "novatek,na51089-uart";
			reg = <0xf0300000 0x1000>;
			assigned-clocks = <&cgu NA51089_CLK_UART1>;
			assigned-clock-rates = <48000000>;
			clocks = <&cgu NA51089_CLK_UART1>;
			interrupts = <GIC_SPI 44 IRQ_TYPE_LEVEL_HIGH>;
			reg-io-width = <4>;
			reg-shift = <2>;
			resets = <&cgu NA51089_RESET_UART1>;

			status = "disabled";
		};

		uart2: serial@f0310000 {
			compatible = "novatek,na51089-uart";
			reg = <0xf0310000 0x1000>;
			assigned-clocks = <&cgu NA51089_CLK_UART2>;
			assigned-clock-rates = <48000000>;
			clocks = <&cgu NA51089_CLK_UART2>;
			interrupts = <GIC_SPI 45 IRQ_TYPE_LEVEL_HIGH>;
			reg-io-width = <4>;
			reg-shift = <2>;
			resets = <&cgu NA51089_RESET_UART2>;

			status = "disabled";
		};

		spi1: spi@f0320000 {
			compatible = "novatek,na51089-spi";
			reg = <0xf0320000 0x10000>;
			clocks = <&cgu NA51089_CLK_SPI1>;
			interrupts = <GIC_SPI 36 IRQ_TYPE_LEVEL_HIGH>;
			resets = <&cgu NA51089_RESET_SPI1>;
			#address-cells = <1>;
			#size-cells = <0>;

			status = "disabled";
		};

		spi2: spi@f0340000 {
			compatible = "novatek,na51089-spi";
			reg = <0xf0340000 0x10000>;
			clocks = <&cgu NA51089_CLK_SPI2>;
			interrupts = <GIC_SPI 37 IRQ_TYPE_LEVEL_HIGH>;
			resets = <&cgu NA51089_RESET_SPI2>;
			#address-cells = <1>;
			#size-cells = <0>;

			status = "disabled";
		};

		timer@ffd00200 {
			compatible = "arm,cortex-a9-global-timer";
			reg = <0xffd00200 0x20>;
			clocks = <&cgu NA51089_CLK_PERIPH>;
			interrupts = <GIC_PPI 11
				      (GIC_CPU_MASK_SIMPLE(1) | IRQ_TYPE_EDGE_RISING)>;
		};

		gic: interrupt-controller@ffd01000 {
			compatible = "arm,cortex-a9-gic";
			reg = <0xffd01000 0x1000>,
			      <0xffd00100 0x100>;
			#address-cells = <0>;
			#interrupt-cells = <3>;
			interrupt-controller;
		};

		l2: cache-controller@ffe00000 {
			compatible = "arm,pl310-cache";
			reg = <0xffe00000 0x1000>;
			cache-level = <2>;
			cache-unified;
		};
	};
};

#include "na51089-pinctrl.dtsi"
