// SPDX-License-Identifier: (GPL-2.0-only OR BSD-2-Clause)

#include <dt-bindings/interrupt-controller/arm-gic.h>
#include <dt-bindings/interrupt-controller/irq.h>

/ {
	compatible = "novatek,na51089";
	#address-cells = <1>;
	#size-cells = <1>;
	interrupt-parent = <&gic>;

	periph_clk: clock-periph {
		compatible = "fixed-clock";
		#clock-cells = <0>;
		clock-frequency = <120000000>;
	};

	cpus {
		#address-cells = <1>;
		#size-cells = <0>;

		cpu0: cpu@0 {
			compatible = "arm,cortex-a9";
			reg = <0>;
			device_type = "cpu";
			next-level-cache = <&l2>;
		};
	};

	soc {
		compatible = "simple-bus";
		ranges;
		#address-cells = <1>;
		#size-cells = <1>;

		pinctrl: pinctrl@f0010000 {
			compatible = "novatek,na51089-pinctrl";
			reg = <0xf0010000 0x1000>,
			      <0xf0030000 0x2000>;
			reg-names = "top", "pad";
		};

		uart0: serial@f0290000 {
			compatible = "ns16550a";
			reg = <0xf0290000 0x1000>;
			clock-frequency = <24000000>;
			interrupts = <GIC_SPI 43 IRQ_TYPE_LEVEL_HIGH>;
			reg-io-width = <4>;
			reg-shift = <2>;

			status = "disabled";
		};

		timer@ffd00200 {
			compatible = "arm,cortex-a9-global-timer";
			reg = <0xffd00200 0x20>;
			clocks = <&periph_clk>;
			interrupts = <GIC_PPI 11
				      (GIC_CPU_MASK_SIMPLE(1) | IRQ_TYPE_EDGE_RISING)>;
		};

		gic: interrupt-controller@ffd01000 {
			compatible = "arm,cortex-a9-gic";
			reg = <0xffd01000 0x1000>,
			      <0xffd00100 0x100>;
			#address-cells = <0>;
			#interrupt-cells = <3>;
			interrupt-controller;
		};

		l2: cache-controller@ffe00000 {
			compatible = "arm,pl310-cache";
			reg = <0xffe00000 0x1000>;
			cache-level = <2>;
			cache-unified;
		};
	};
};

#include "na51089-pinctrl.dtsi"
