# SPDX-License-Identifier: GPL-2.0-only

config COMMON_CLK_NOVATEK
	bool

config COMMON_CLK_NA51089
	bool "Clock driver for Novatek NA51089"
	depends on ARCH_NOVATEK || COMPILE_TEST
	depends on OF && HAS_IOMEM
	select COMMON_CLK_NOVATEK
	select RESET_CONTROLLER
	help
	  Say yes here to enable clock and reset controller support for the
	  Novatek NA51089 SoC. The driver provides CPU and peripheral clocks
	  through the common clock framework and reset signals through the
	  reset controller framework.
